.coord-card {
  font-family: "Orbitron", serif;
  display: flex;
  flex-direction: row;
  height: 415px;
  width: 270px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: transform 0.2s ease-out, box-shadow 0.1s ease;
  will-change: transform, box-shadow;
  box-shadow: -5px -5px 5px -5px rgba(0, 231, 255, 0.5),
    5px 5px 5px -5px rgba(255, 0, 231, 0.5),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

  &:hover {
    box-shadow: -20px -20px 30px -25px rgba(0, 231, 255, 0.75),
      20px 20px 30px -25px rgba(255, 0, 231, 0.75),
      0 0 13px 4px rgba(255, 255, 255, 0.3),
      0 55px 35px -20px rgba(0, 0, 0, 0.5);
  }

  .coord-card-wrapper {
    width: 100%;
    display: flex;
    transform-style: preserve-3d;
  }

  .left,
  .right {
    transform-style: preserve-3d;
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 100%;

    .left-upper {
      position: relative;
      height: 70%;
      background-color: #24bdde;
      border-radius: 20px 0 0 0;
      overflow: hidden;

      .vertical-text {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: left top;
        font-size: 45px;
        font-weight: bold;
        color: #75d6e8;
        z-index: 2;
        top: 5%;
        left: 40px;
        white-space: nowrap;
        transform: rotate(90deg) translate(0, -50%);
      }

      .clouds {
        position: absolute;
        top: -13%;
        left: 60px;
      }
    }

    .left-lower {
      z-index: 5;
      height: 30%;
      border-left: 1px solid #8cddea;
      border-bottom: 1px solid #8cddea;
      border-radius: 0 0px 0px 20px;
      padding: 0 10px 10px 10px;

      .name {
        text-align: left;
        padding: 5px;
        h1 {
          font-size: 24px;
          margin: 0;
          color: #8cddea;
          font-weight: 900;
        }
        border-bottom: 1px solid #8cddea;
      }
    }

    .center-image {
      position: absolute;
      z-index: 3;
      width: 265px;
      height: 350px;
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 83%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: nowrap;
    padding-top: 22px;
    padding-bottom: 22px;
    z-index: 3;
    border-radius: 0 20px 20px 0;
    align-items: center;
    height: 100%;
    width: 40px;
    background: linear-gradient(to bottom, #23bddf, #831d8f);

    .star-image {
      width: 21px;
      height: 21px;
    }

    .FHLogo-image {
      width: 35px;
      height: 35px;
    }

    .role {
      font-size: 16px;
      color: white;
      text-align: center;
      transform: rotate(90deg);
      font-weight: bold;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    opacity: var(--opacity, 0.5);
    mix-blend-mode: color-dodge;
    transition: all 0.33s ease;
    pointer-events: none;
  }

  &:before {
    background-image: linear-gradient(
      115deg,
      transparent 25%,
      rgba(0, 231, 255, 0.4) 48%,
      // Smanjen intenzitet boje
      rgba(255, 0, 231, 0.4) 52%,
      // Smanjen intenzitet boje
      transparent 75%
    );
    background-position: var(--gradient-pos, 50% 50%);
    background-size: 180% 180%;
    opacity: 0.7;
    filter: brightness(0.4) contrast(0.9);
    z-index: 1;
  }

  &:after {
    background-image: url("https://assets.codepen.io/13471/sparkles.gif"),
      linear-gradient(
        125deg,
        #ff008420 15%,

        #fca40020 30%,

        #ffff0020 40%,

        #00ff8a10 60%,

        #00cfff20 70%,

        #cc4cfa20 85%
      );
    background-position: var(--sparkle-pos, 50% 50%);
    background-size: 110%;
    background-blend-mode: overlay;
    z-index: 2;
    filter: brightness(0.8) contrast(0.9);
    opacity: 0.3;
  }

  &:hover:before {
    opacity: 0.5;
    filter: brightness(0.5) contrast(1);
  }

  &:hover:after {
    opacity: 0.5;
    filter: brightness(0.9) contrast(1);
  }
}
