@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hexagon-1 {
  transform-origin: 94.5px 95px; /* Podesite prema potrebama */
  animation: rotate 5s linear infinite;
}

.hexagon-2 {
  transform-origin: 132.5px 166.5px; /* Podesite prema potrebama */
  animation: rotate 5s linear infinite;
}
