@use '../../utils/css/mediaqueries';
@use 'sass:list';
@use 'sass:math';

$margin-desktop: 120px;
$margin-xs-desktop: 100px;
$margin-tablet: 90px;
$margin-phone: 80px;
$margin-figma: 70px;

// Mixin for margin by side and media
@mixin responsive-margins($items) {
  @each $item in $items {
    $selector: list.nth($item, 1);
    $top: list.nth($item, 2);
    $right: list.nth($item, 3);
    $bottom: list.nth($item, 4);
    $left: list.nth($item, 5);
    $a: if(list.length($item) >=6, list.nth($item, 6), 0);

    #{$selector} {
      @if $top {
        margin-top: $margin-desktop + $a;
      }

      @if $right {
        margin-right: $margin-desktop + $a;
      }

      @if $bottom {
        margin-bottom: $margin-desktop + $a;
      }

      @if $left {
        margin-left: $margin-desktop + $a;
      }

      @media #{mediaqueries.$xs-desktop} {
        @if $top {
          margin-top: $margin-xs-desktop + $a;
        }

        @if $right {
          margin-right: $margin-xs-desktop + $a;
        }

        @if $bottom {
          margin-bottom: $margin-xs-desktop + $a;
        }

        @if $left {
          margin-left: $margin-xs-desktop + $a;
        }
      }

      @media #{mediaqueries.$tablet} {
        @if $top {
          margin-top: $margin-tablet + $a;
        }

        @if $right {
          margin-right: $margin-tablet + $a;
        }

        @if $bottom {
          margin-bottom: $margin-tablet + $a;
        }

        @if $left {
          margin-left: $margin-tablet + $a;
        }
      }

      @media #{mediaqueries.$phone} {
        @if $top {
          margin-top: $margin-phone + $a;
        }

        @if $right {
          margin-right: $margin-phone + $a;
        }

        @if $bottom {
          margin-bottom: $margin-phone + $a;
        }

        @if $left {
          margin-left: $margin-phone + $a;
        }
      }

      @media #{mediaqueries.$figma-phone} {
        @if $top {
          margin-top: $margin-figma + $a;
        }

        @if $right {
          margin-right: $margin-figma + $a;
        }

        @if $bottom {
          margin-bottom: $margin-figma + $a;
        }

        @if $left {
          margin-left: $margin-figma + $a;
        }
      }
    }
  }
}

@include responsive-margins((("section>h1", true, false, true, false),
    ("section.signup-section", true, false, true, false),
    ("section.home-section", false, false, true, false, 80px),
  ));

section>h1 {
  text-align: center;
}

section.about {
  padding-top: calc(10px + 2.56rem);
}

section.rewards .arrows-wrapper {
  @media #{mediaqueries.$m-phone} {
    padding-top: calc(math.div(math.div(37, 2), 204) * 90dvw + $margin-phone);
  }

  @media #{mediaqueries.$figma-phone} {
    padding-top: calc(math.div(math.div(37, 2), 204) * 90dvw + $margin-figma);
  }
}

section.signup-section {
  @media #{mediaqueries.$phone} {
    margin-bottom: $margin-tablet;
  }
}