@use "../../utils/css/colors";
@use "../../utils/css/mediaqueries";

@font-face {
  font-family: "Orbitron";
  src: url("/public/font/Orbitron/Orbitron-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 900;
  font-style: normal;
  font-display: block;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 5;
  justify-content: start;
  align-items: start;
  margin-top: 0;
  overflow: visible;
}

.zeppelin {
  width: auto;
  position: absolute;
  height: 70px;
  top: -40px;
  right: 99%;
  z-index: 12;
  transition: transform 0.1s linear;
}
.banner-year {
  fill: colors.$svetlo-plava;
  font-size: 90px;
}
.banner-side-text {
  font-size: 38px;
  fill: colors.$bela;
}
.banner-moto {
  font-size: 31px;
  font-weight: 100;
  fill: colors.$bela;
}

.banner-text {
  background-color: colors.$tamno-plava;
  color: colors.$bela;
  font-size: 2rem;
  height: 280px;
  width: 600px;
  text-align: center;
  position: relative;
}

@media (max-width: 1024px) {
  .banner {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
  .zeppelin {
    height: 60px;
    top: -35px;
  }
  .banner-text {
    font-size: 1.8rem;
    height: 250px;
    width: 600px;
  }
}

@media #{mediaqueries.$tablet} {
  .banner-year {
    font-size: 68px;
  }
  .banner-side-text {
    font-size: 27px;
  }
  .banner-moto {
    font-size: 20px;
  }
  .zeppelin {
    height: 40px;
    top: -25px;
  }
  .banner-text {
    font-size: 1.6rem;
    height: 200px;
    width: 450px;
  }
}

@media (max-width: 500px) {
  .banner {
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
  }
  .banner-year {
    font-size: 37px;
  }
  .banner-side-text {
    font-size: 15.6px;
  }
  .banner-moto {
    font-size: 12.6px;
    stroke-width: 0.2px;
  }
  .zeppelin {
    height: 30px;
    top: -18px;
  }
  .banner-text {
    height: 120px;
    width: 240px;
  }
}
