.org-team-section {
  width: 100%;

  .org-team-slider {
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;

    .org-team-cards {
      display: flex;
      justify-content: space-between;
      gap: 100px; // PoÄetni gap
    }

    .slider-controls {
      display: flex;
      gap: 120px;
      margin-top: 30px;
      button {
        min-width: 35px;
        min-height: 45px;
        background-color: #fff;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #dbdada;
        }
      }
      .slider-left-arrow {
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
      }
      .slider-right-arrow {
        clip-path: polygon(100% 50%, 0 100%, 0 0);
      }
    }
  }

  .mobile-org-team-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform-origin: top center;
    padding-top: 80px;
    .upper-section {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 30px;

      button {
        min-width: 35px;
        min-height: 45px;
        background-color: #fff;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: #dbdada;
        }
      }
      .slider-left-arrow {
        clip-path: polygon(0 50%, 100% 100%, 100% 0);
      }
      .slider-right-arrow {
        clip-path: polygon(100% 50%, 0 100%, 0 0);
      }
    }
  }

  @media (max-width: 1090px) {
    .org-team-slider {
      margin-top: 100px !important;
      transform: scale(0.8);
      margin-left: 0px;

      .org-team-cards {
        gap: 70px;
      }
    }
  }

  @media (max-width: 950px) {
    .org-team-slider {
      margin-top: 80px !important;
      transform: scale(0.7);

      .org-team-cards {
        gap: 40px;
      }
    }
  }

  @media (min-width: 770px) {
    .org-team-slider {
      display: flex;
    }
    .mobile-org-team-slider {
      display: none;
    }
  }

  @media (max-width: 769px) {
    .org-team-slider {
      display: none;
    }

    .mobile-org-team-slider {
      display: flex;
      transform: scale(0.7);
      .org-team-cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
      .upper-section {
        button {
          min-width: 55px;
          min-height: 65px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .mobile-org-team-slider {
      display: flex;
      transform: scale(0.55);
    }
  }

  @media (max-width: 380px) {
    .mobile-org-team-slider {
      display: flex;
      transform: scale(0.45);
    }
  }
}

.org-team-section > h1 {
  text-align: center;
  margin-top: 80px;
}

@media (max-width: 1090px) {
  .org-team-section {
    margin-left: 0px;
  }
}

@media (max-width: 769px) {
  .org-team-section {
    height: 950px !important;
    .mobile-org-team-slider {
      height: 1200px !important;
    }
  }

  .org-team-section > h1 {
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .org-team-section {
    height: 700px !important;
  }
}

@media (max-width: 380px) {
  .org-team-section {
    height: 550px !important;
  }
  .org-team-section > h1 {
    text-align: center;
    font-size: 24px;
    margin-top: 40px;
  }
}
