.org-team-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .org-team-cards {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  .slider-controls {
    display: flex;
    gap: 120px;
    margin-top: 30px;
    button {
      min-width: 35px;
      min-height: 45px;
      background-color: #fff;
      color: #fff;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #dbdada;
      }
    }
    .slider-left-arrow {
      clip-path: polygon(0 50%, 100% 100%, 100% 0);
    }
    .slider-right-arrow {
      clip-path: polygon(100% 50%, 0 100%, 0 0);
    }
  }
}
