@use "../../utils/css/colors";
@use "../../utils/css/mediaqueries";
@use "sass:math";

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 8888;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgba(colors.$svetlo-plava, 0.1);
  backdrop-filter: blur(5px);

  padding: 0 calc(12px + var(--scrollbar-width)) 0 12px;

  a {
    position: relative;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  &>.header-sign-up-button {
    padding: 14px 20px;
    outline: 2px solid colors.$tamno-plava;
    outline-offset: -4px;
    background-color: colors.$svetlo-plava ;
    border-radius: 100px;
    color: colors.$tamno-plava;
    transition: .15s ease all;

    &:hover,
    &:focus {
      outline-color: colors.$svetlo-plava;
      color: colors.$svetlo-plava;
      background-color: colors.$tamno-plava;
    }
  }

  img {
    display: block;
    user-select: none;
    object-fit: contain;
    aspect-ratio: 1;
    height: 100px;

    @media #{mediaqueries.$s-desktop} {
      height: 90px;
    }

    @media #{mediaqueries.$phone} {
      height: 60px;
    }

  }
}

.nav-container {
  display: flex;
  outline: none;

  @media #{mediaqueries.$s-desktop} {
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: calc(100% + 20px);
    right: 20px;
    overflow: hidden;
  }

  $a-razmak: -0.7rem;

  .nav-link {
    position: relative;
    font-size: 0.9rem;
    margin: 0 math.abs($a-razmak);

    @media #{mediaqueries.$s-desktop} {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0;
      width: 100%;
      $padding-thickness: 10px;
      padding: $padding-thickness calc(2px + math.abs($a-razmak));
      // Visual bug on OperaGX fix
      padding-bottom: $padding-thickness + 1px;
      margin-bottom: -1px; 

      background-color: colors.$bela;
    }

    a {
      display: block;
      color: colors.$svetlo-plava;
      transition: .2s ease-out color;
      font-weight: 500;

      @media #{mediaqueries.$s-desktop} {
        color: colors.$tamno-plava;
        font-weight: 600;
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        transition: .1s opacity ease-out;
        opacity: 0;

        font-size: 1.1rem;
        font-weight: 200;

        @media #{mediaqueries.$s-desktop} {
          font-weight: 400;
        }
      }

      &::before {
        content: '<';
        left: $a-razmak;
      }

      &::after {
        content: '>';
        right: $a-razmak;
      }
    }

    &:hover a,
    &:focus a {

      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &.h-dark .nav-link a {
    color: colors.$tamno-plava;
  }
}

$razmak: 7px;
$razmak-mali: 5px;
$sirina: 50px;
$sirina-mala: 35px;

.hamburger {
  user-select: none;
  background-color: unset;
  border: none;

  display: block;
  width: $sirina;
  flex-direction: column;
  gap: $razmak;
  cursor: pointer;
  transition: .2s rotate ease;

  @media #{mediaqueries.$s-desktop} {
    display: flex;
  }

  @media #{mediaqueries.$phone} {
    width: $sirina-mala;
    gap: $razmak-mali ;
  }

  &:active {
    outline: none;
  }

  &.h-open {
    rotate: -90deg; //TODO ovo https://www.youtube.com/watch?v=blUpQMJjObE
  }

  .hamburger-line {
    height: $razmak;
    width: 100%;
    background-color: colors.$svetlo-plava;
    filter: drop-shadow(0 0 2px colors.$tamno-plava);

    @media #{mediaqueries.$phone} {
      height: $razmak-mali;
    }
  }
}