.about-competition, .heksagoni{
    width: 100%;
}

.comp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 225px;
}

.about-hackathon{
    margin-top: 103px;
    margin-left: 11%;
}

.web3-challenge{
    margin-right: 10.2%;
    flex-direction: row-reverse;
}

.why-to-join{
    margin-left: 9.5%;
}

.text-box-about-competition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    padding: 20px;
    position: relative;
}
.txt1{
    width: 593px;
    height: 371px;
}

.txt2{
    width: 664px;
    height: 365px;
}

.txt3{
    width: 637.41px;
    height: 335px;
}


.about-hachathon-arrows, .web3-challenge-arrows, .why-to-join-arrows {
    width: 725px;
    height: 324px;
    //background-color: white;
    display: flex;
    align-items: center;
}

.heksagoni{
    position: absolute;
}

h2{
    text-align: center;
    font-family: 'Orbitron'; // Font za h2
    font-size: 50px; // Veličina naslova
    font-weight: bold; // Deblji font za naslov
    margin-bottom: 36px; // Razmak između h2 i teksta

}

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.heksagoni g {
    transform-box: fill-box;
    transform-origin: center;
    animation: rotate 45s linear infinite;
}